*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/project/
project/metals.sbt
target/
bin/


.idea/

.bloop/
.bsp/
.metals/
.vscode/

null/

