
body {
  font-size: 19px;
  padding-bottom: 33px;
  padding-top: 55px; /* fixed top navbar */
}

/* default SVG maximum height */
object[type="image/svg+xml"] {
  max-height: 300px;
  width: 100%;
}

.pages-toc ul { 
  list-style: none;
}

.pages-toc > ul > li > a {
  font-weight: bold;
  font-size: 17px;
}

/* prismjs sets 0.3em and then we get unnecessary horizontal slider. This fixes it. */
pre[class*="language-"] {
  border-width: 0.3rem !important;
}

/* anchor offset when clicking it :) https://stackoverflow.com/a/22655654/4496364 */
:target:before {
  content: "";
  display: block;
  height: 50px;
  margin: -50px 0 0;
}