
.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* default SVG maximum height */
object[type="image/svg+xml"] {
  max-height: 300px;
  width: 100%;
}


@media (min-width: 768px) {
    .blog-post {
        display: grid;
        grid-template-areas: "left-menu main-content";
    }
    .left-menu {
        grid-area: left-menu;
        padding: 1rem;
    }
    .main-content {
        grid-area: main-content;
        padding: 1rem;
    }
}